:local(.home) {
  opacity: 1;
  animation: fade 2s linear;
}

:local(.actions) {
  display: flex;
  justify-content: flex-end;
}

@keyframes fade {
  0% {
    opacity: 0;
  }

  50% {
    opacity: 0.5;
  }

  100% {
    opacity: 1;
  }
}
